:root {
    --header-height : 50px ;
    --footer-height : 30px ;
    --color-primary : #0d6efd ;
    --color-bg-primary : #bcd7ff ;
}

body {
    background-color: #afafaf;

}
table {
    border-collapse: collapse;
}

header{
    background-color: #403c38;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: var(--header-height);
}

main, .header, .footer {
    width: 900px;
}

.header {
    padding: 10px;
    margin: 0 auto;
    color: #fff;
}

.header a, .footer a{
    color: #fff;
}

.header-title img {
    height: 30px;
}

.header-navigation {
    line-height: 30px;
}

main {
    min-height: 100vh;
    padding-top: calc(var(--header-height) + 5px);
    padding-bottom: calc(var(--footer-height) + 20px);
    margin: 0 auto;
    background-color: #fff;
}

.container {
    padding: 10px
}

.pointer {
    cursor: pointer;
}

.table {
    width: 100%;
}

.table th {
    text-align: left;
}

table, th, td {
    border: 1px solid #a5a5a5;
    padding: 2px 5px;
}

.bg-active {
    background-color: var(--color-bg-primary);
    color: #403c38;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #fff;
    height: 23px;
    line-height: 23px;
    margin-top: 2px;
    padding: 0 10px;
    border: 1px solid #919191;
    text-align: center
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: var(--color-bg-primary);;
    border-color: var(--color-primary);
}

.form-text {
    border: none;
    padding: 0!important;
    margin: 0!important;
}

footer{
    background-color: #403c38;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    padding: 5px 10px;
    height: var(--footer-height);
    margin: 0 auto;
    color: #fff;
}
